<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de Compras</title>
    <style>
        /* Estilos básicos para la navbar */
        nav {
            background-color: #333;
            color: #fff;
            padding: 10px 0;
        }

        nav ul {
            list-style-type: none;
            padding: 0;
            display: flex;
            justify-content: center;
        }

        nav ul li {
            margin: 0 15px;
        }

        nav ul li a {
            text-decoration: none;
            color: #fff;
            padding: 5px 10px;
            border-radius: 5px;
            transition: background-color 0.3s ease;
        }

        nav ul li a:hover {
            background-color: #555;
        }

        /* Estilos para el contenido principal */
        .content {
            padding: 20px;
            font-size: 18px;
            line-height: 1.6;
        }

        /* Estilos específicos para la visualización de productos en el carrito */
        .product-container {
            border: 1px solid #ddd;
            margin-bottom: 10px;
            padding: 10px;
            border-radius: 5px;
            background-color: #f9f9f9;
        }

        .product-name {
            font-weight: bold;
        }

        .product-quantity {
            color: #555;
        }
    </style>
</head>
<body>

    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/chat">Chat</a></li>
            <li><a href="/cart">Carrito</a></li>
            <li><a href="/products">Productos</a></li>
            <li><a href="/logout">Cerrar sesión</a></li>
        </ul>
    </nav> 

    <div class="content">
        <h1>Carrito de Compras</h1>

        {{#if cart}}
            {{#each cart}}
                {{#each products}}
                    <div class="product-container">
                        <p class="product-name">Nombre del Producto: {{this.product.nombre}}</p>
                        <p class="product-quantity">Cantidad: {{this.quantity}}</p>
                    </div>
                {{/each}}
            {{/each}}
        {{else}}
            <p>El carrito está vacío</p>
        {{/if}} 
    </div>

    <script src="/js/cart.js"></script>
</body>
</html>
