<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
</head>
<body>
    <h1>Chat en tiempo real</h1>

    <div id="chatMessages">
        {{#each messages}}
            <p><strong>{{this.user}}</strong>: {{this.message}}</p>
        {{/each}}
    </div>

    <form id="chatForm">
        <input type="text" id="user" placeholder="Tu correo">
        <input type="text" id="message" placeholder="Escribe tu mensaje">
        <button type="submit">Enviar</button>
    </form>

    <script src="/socket.io/socket.io.js"></script>
    <script src="src/public/js/chat.js"></script>
</body>
</html>
