<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <style>
        /* Estilos básicos para la navbar */
        nav {
            background-color: #333;
            color: #fff;
            padding: 10px 0;
        }

        nav ul {
            list-style-type: none;
            padding: 0;
            display: flex;
            justify-content: center;
        }

        nav ul li {
            margin: 0 15px;
        }

        nav ul li a {
            text-decoration: none;
            color: #fff;
            padding: 5px 10px;
            border-radius: 5px;
            transition: background-color 0.3s ease;
        }

        nav ul li a:hover {
            background-color: #555;
        }

        /* Estilos para el contenido principal (puedes ajustar según tus necesidades) */
        .content {
            padding: 20px;
            font-size: 18px;
            line-height: 1.6;
        }
    </style>
</head>
<body>

    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/chat">Chat</a></li>
            <li><a href="/cart">Carrito</a></li>
             <li><a href="/products">productos</a></li>
            
            

            <!-- Puedes agregar más elementos de la navbar según lo necesites -->
        </ul>
    </nav>  

  
  <form id="chatForm">
    <input type="text" id="user" placeholder="Tu correo">
    <input type="text" id="message" placeholder="Escribe tu mensaje">
    <button type="submit">Enviar</button>
  </form>

  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/chat.js"></script>
</body>
</html>
